<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewporatent="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event!</title>
</head>
<body>
    
    <a href="{% url 'event:getEvent' %}" style="text-align: center;">
        <h2 style="margin-top: 2%;">ADD EVENT!</h2>
    </a>
    <br>
    {% for dataEvent in event %}
    <div style="display: flex; flex-direction: column; border: 2px solid black; margin: 2%; padding: 1%; border-radius: 30px;">
        <div style="text-align: center;">
            <h3>{{dataEvent.nama}}</h3>
            <p><strong>{{ dataEvent.deskripsi }}</strong></p>
            <br>
            {% for dataMember in member %}
                {% if dataMember.event == dataEvent %}
                    <p style="margin: 0; font-size: larger;">{{ dataMember.nama }}</p>
                    <div style="margin-bottom: 1%;">
                        <a href="{% url 'event:deleteMember' pkTarget=dataMember.pk %}">Delete this member</a>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}          
        </div>
        <a href="{% url 'event:getMember' pkTarget=dataEvent.pk %}" style="display: flex; justify-content: center;">
            <button class="btn btn-success">Register</button>
        </a>
    </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>