<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'matkul:formMatkul' %}">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'matkul:resultMatkul' %}">Result</a>
        </li>
      </ul>
    </div>
  </nav>