<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sae Pasomba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>
        @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

        body {
            background-image: linear-gradient(to right bottom, #111d5e, #b21f66);
            margin: 0;
            font-family: 'Varela Round', sans-serif; 
            background-attachment: fixed;
        }



        .name-pict table {
            background-image: linear-gradient(to right, #b21f66, #ffbd69);
            border-radius: 25px;           
        }

        .name-pict table, .name-pict td{
            margin-top: 4%;
            padding: 0;
        }


        .name-pict img {
            height: 25%;  
            border-radius: 25px;   
            margin: 1%;  
        }

        .name{
            transform: rotate(90deg);
            transform-origin: bottom left;
            font-size: 250%;   
            color: blanchedalmond;
            position: absolute;        
        }

        .name-pict .empty-cell {
            height: 10px;
        }

        .profile{
            margin-top: 2%;
            font-size: 200%;
        }

        .profile h3{
            text-align: center;
            color: blanchedalmond;
            padding: 0;
            margin: 0;
        }

        .profile h5{
            text-align: center;
            color: blanchedalmond;
            margin: 2%;
        }

        .square {
            background-color: blanchedalmond;
            height: 1.5px;
            margin: 500px;
            margin-top: 0;
            margin-bottom: 2%;
        }

        .description {
            text-align: center;
            font-size: 200%;
            margin-left: 5%;
            margin-right: 5%;
            color: blanchedalmond;
            padding: 1%;
            
            background-image: linear-gradient(to top right, #111d5e, #b21f66);
            border-radius: 25px;
        }

        .description h5, .description h4 {
            margin: 0;
        }

        .pend1, .pend2 {
            text-align: center;
            color: blanchedalmond;

        }

        .pend1 {
            width: 400px;
            background-image: linear-gradient(to bottom left, rgb(203, 0, 88), #111d5e 120%);            
            border-radius: 25px 25px 0 0;
            padding: 0.5%;
            margin: 0;
            font-size: 200%;
        }

        .pend2{
            width: 400px;
            background-image: linear-gradient(to bottom left, #b21f66, #111d5e);
            border-radius: 0 0 25px 25px;
            padding: 0.5%;
            margin: 0;
            font-size: 150%;
        }

        .riwayat-pendidikan .pend2 h4 {
            margin-bottom: 0;
        }

        .riwayat-pendidikan .pend2 h5 {
            margin-top: 4%;
        }

        .riwayat-pendidikan .empty-cell{
            width: 50px;
            padding: 0;
            margin: 0;
        }

        .quote1 {
            color: blanchedalmond;
            text-align: center;
        }
        
        .social-media{
            margin: 0;
            background-color:black;
            margin-top: 5%;
        }

        .social-media td{
            text-align: center;
        }

        .social-media img{
            height: 15%;
            margin-left: auto;
            margin-right: auto;
        }

        .pagenav {
            border-radius: 25px;
            text-align: center;
            position: fixed;
        }

        .pagenav p{
            text-align: center;
            padding: 0;
            margin: 0;
        }


    </style>
</head>
<body>

    {% include  'includes/navbar_old.html' %}

    <div class="name-pict">
        <table align="center">
            <tr>
                <td rowspan="3" align="center"><img src="{% static 'Sae Pasomba.jpg' %}"></td>
                <td class="name">Sae Pasomba</td>
                <td class="empty-cell"><br></td>
            </tr>
            <tr>
                <td class="empty-cell"></td>
            </tr>
        </table>
    </div>

    <div class="profile">
        <div class="square"></div>

       <h3>Fasilkom UI 2019</h3>
       <h3>Ilmu Komputer</h3>
       <h5>1906350862</h5>

       <div class="square"></div>
    </div>

    <br>

    <div class="description">
        <p>Sae Pasomba merupakan nama yang diberikan oleh kedua orang tua saya sejak kelahiran saya di Palangka Raya, 24 Februari 2002. Saya sangat menyukai hujan. Menurut saya, hujan membawa suasana menenangkan.</p>
        <div class="square"></div>
        <h5>Hobi</h5>
        <h4>Mengamati hujan</h4>
    </div>

    <br>
    <br>
    <br>

    <div class="riwayat-pendidikan">
        <table align="center">
            <tr>
                <td class="pend1">SD</td>
                <td class="empty-cell"></td>
                <td class="pend1">SMP</td>
                <td class="empty-cell"></td>
                <td class="pend1">SMA</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="pend2">
                    <h4>SDN Percobaan Palangka Raya</h4>
                    <h5>2007 - 2013</h5>
                </td>
                <td class="empty-cell"></td>
                <td class="pend2">
                    <h4>SMP Golden Christian School</h4>
                    <h5>2013 - 2016</h5>
                </td>
                <td class="empty-cell"></td>
                <td class="pend2">
                    <h4>SMA Kharisma Bangsa</h4>
                    <h5>2016 - 2019</h5>
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <br>

    <div class="quote1">
        <div class="square"></div>
        <h3>Be a beast!</h3>
    </div>

    <div class="social-media">
        <table align="center">
            <tr>
                <td></td>
                <td><a href="https://www.instagram.com/saepasomba"><img src="{% static 'instagram-logo.png' %}"></a></td>
                <td><a href="https://twitter.com/saepasomba"><img src="{% static 'twitter-logo.png' %}"></a></td>
                <td><a href="https://www.facebook.com/saepasomba"><img src="{% static 'facebook-logo.png' %}"></a></td>
                <td><a href="https://wa.me/6287884314147?text=Hai%20ganteng"><img src="{% static 'whatsapp-logo.png' %}"></a></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>


