

<div class="container">
    
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column align-items-center fixed pagenav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:index' %}"><p>Current version</p></a>
            </li>
          </ul>
        </div>
      </nav>

      <script>
          
      </script>
</div>

