{% extends 'base.html' %}

{% load static %}

{% block body %}

    <div class="name-pict">
        <table align="center">
            <tr>
                <td rowspan="3" align="center"><img class=".img-responsive" src="{% static 'Sae Pasomba.jpg' %}"></td>
                <td class="name">Sae Pasomba</td>
                <td class="empty-cell" style="width: 4%;"><br></td>
            </tr>
            <tr>
                <td class="empty-cell"></td>
            </tr>
        </table>
    </div>

    <div class="profile">
        <div class="square"></div>

    <h3>Fasilkom UI 2019</h3>
    <h3>Ilmu Komputer</h3>
    <h5>1906350862</h5>

    <div class="square"></div>
    </div>

    <br>

    <div class="description" id="desc">
        <p>Sae Pasomba merupakan nama yang diberikan oleh kedua orang tua saya sejak kelahiran saya di Palangka Raya, 24 Februari 2002. Saya sangat menyukai hujan. Menurut saya, hujan membawa suasana menenangkan.</p>
        <div class="square"></div>
        <h5>Hobi</h5>
        <h4>Mengamati hujan</h4>
    </div>

    <br>
    <br>
    <br>

    <div class="riwayat-pendidikan">
        <table align="center">
            <tr>
                <td class="pend1">SD</td>
                <td class="empty-cell"></td>
                <td class="pend1">SMP</td>
                <td class="empty-cell"></td>
                <td class="pend1">SMA</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="pend2">
                    <h4>SDN Percobaan Palangka Raya</h4>
                    <h5>2007 - 2013</h5>
                </td>
                <td class="empty-cell"></td>
                <td class="pend2">
                    <h4>SMP Golden Christian School</h4>
                    <h5>2013 - 2016</h5>
                </td>
                <td class="empty-cell"></td>
                <td class="pend2">
                    <h4>SMA Kharisma Bangsa</h4>
                    <h5>2016 - 2019</h5>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <div class="quote1">
        <div class="square"></div>
        <h3>Be a beast!</h3>
    </div>


    <!-- Button trigger modal -->
    <div style="text-align:center;">
        <button type="button" class="btn btn-danger align-self-center" data-toggle="modal" data-target="#exampleModal">
            See Some Photos
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Random Photos for PPW. From Sae with love</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://vw-photoclassforyou.storage.googleapis.com/images/2019-ChallengeClass1Sq.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://betterstudio.com/wp-content/uploads/2019/05/1-1-instagram-1024x1024.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://pbs.twimg.com/profile_images/1126625068564402176/VV114FWs_400x400.png" alt="Third slide">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        </div>
    </div>
    </div>

{% endblock %}
