{% extends 'base.html' %}
{% load static %}
{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="skills">
        <table>
            <tr>
                <td class="skill1"><img src="{% static 'photoshop.png' %}"></td>
                <td><div class="empty-cell"></div></td>
                <td class="skill2"><img src="{% static 'microsoft.png' %}"></td>
                <td><div class="empty-cell"></div></td>
                <td class="skill3"><img src="{% static 'calendar.png' %}"></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="skill1-name">Photoshop</td>
                <td></td>
                <td class="skill2-name">Microsoft Office</td>
                <td></td>
                <td class="skill3-name">Time & Shedule Management</td>
            </tr>
            <tr>
                <td>
                    <table class="skill1">
                        <tr>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'empty.png' %}" class="star"></td>
                        </tr>
                    </table>
                </td>
                <td></td>
                <td>
                    <table class="skill2">
                        <tr>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'empty.png' %}" class="star"></td>
                        </tr>
                    </table>
                </td>
                <td></td>
                <td>
                    <table class="skill3">
                        <tr>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'star.png' %}" class="star"></td>
                            <td><img src="{% static 'empty.png' %}" class="star"></td>
                            <td><img src="{% static 'empty.png' %}" class="star"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    {% include 'includes/footer.html' %}
{% endblock %}
