{% load static %}

<div class="social-media">
    <table align="center">
        <tr>
            <td><a href="https://www.instagram.com/saepasomba"><img src="{% static 'instagram-logo.png' %}"></a></td>
            <td><a href="https://twitter.com/saepasomba"><img src="{% static 'twitter-logo.png' %}"></a></td>
            <td><a href="https://www.facebook.com/saepasomba"><img src="{% static 'facebook-logo.png' %}"></a></td>
            <td><a href="https://wa.me/6287884314147?text=Hai%20ganteng"><img src="{% static 'whatsapp-logo.png' %}"></a></td>
        </tr>
    </table>
</div>