<div class="container">
    
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column align-items-center fixed pagenav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><p>Home</p> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#desc"><p>Profile</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/skills"><p>Skills</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'matkul:formMatkul' %}"><p>Matkul form!</p></a>
              </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'event:eventIndex' %}"><p>Add event!</p></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'oldver:index' %}"><p>Previous version</p></a>
              </li>
          </ul>
        </div>
      </nav>

      <script>
          
      </script>
</div>

